.item {
  background: #F3F3F3;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.p {
  display: flex;
  gap: 7px;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 0;
}
.p span:first-child{
  color: #A3A3A3;
}

.button {
  font-size: 12px;
  line-height: 14px;
  color: #4B51EF;
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}